// Colors
$color-bg-primary: #232326;
$color-bg-secondary: #434346;

$color-text-primary: #e0e0e0;
$color-text-secondary: #ffffff;
$color-text-tertiary: #f0c0a0;
$color-text-quartiary: #f0f0c0;

// Typography
$text-size: .8vw;
$text-weight-bold: 800;
$text-weight-normal: 400;