// SASS variables
@import '_variables';

body{
    background-color: $color-bg-primary;
    color: $color-text-primary;
    font-size: $font-size;
    font-weight: $font-weight-normal;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    letter-spacing: $letter-spacing;
}

h1,
h3{
    text-transform: uppercase;    
    font-weight: $font-weight-bold;
}

h1{
    color: $color-text-tertiary;
    font-size: 3.6rem;    
}

h3{
    color: $color-text-quarternary;
    font-size: 1.2rem;
    margin: 1rem 0 -1rem 1.5rem;
}

.textbox{
    background-color: $color-bg-secondary;
    border-radius: 3px;
    border: 1px solid $color-bg-secondary;
    display: block;
    margin-top: 1.5rem;
    padding: 0;
}

.textbox:focus,
.textbox:hover{
    border: 1px solid $color-text-secondary;
}

input{
    background-color: $color-bg-secondary;
    color: $color-text-secondary;
    border: none;
    width: 90%;
    padding: .5rem 1rem .5rem 1rem;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight-bold;
}

.lock{
    width: 10%;
    float: right;
    padding: .5rem 0 .5rem 0;
    border: none;
    background-color: $color-bg-secondary;
    text-align: center;
    color: $color-text-secondary;
}

.lock:hover{
    background-color: $color-text-secondary;
    color: $color-text-secondary;
    cursor: pointer;
}
