// SASS variables
@import '_variables';

body{
    background-color: $color-bg-primary;
    color: $color-text-primary;
    font-size: $font-size;
    font-weight: $font-weight-normal;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    letter-spacing: $letter-spacing;
}

h1,
h3{
    text-transform: uppercase;    
    font-weight: $font-weight-bold;
}

h1{
    color: $color-text-tertiary;
    font-size: 3.6rem;    
}

h3{
    color: $color-text-quartiary;
    font-size: 1.2rem;
    margin: 1rem 0 -1rem 1.5rem;
}

input{
    background-color: $color-bg-secondary;
    color: $color-text-secondary;
    border-radius: 3px;
    border: 1px solid $color-bg-secondary;
    margin: 1rem;
    width: 100%;
    padding: .5rem 1rem .5rem 1rem;
    letter-spacing: $letter-spacing;
}

input:focus{
    border: 1px solid $color-text-secondary;
}
