body {
  font-size: .8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  position: absolute;
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: auto 30% 30% auto;
}

.grid-item{
  width: 100%;
  height: 100%;
  text-align: center;
}

.left{
  min-width: 100%;
  min-height: 100%;
  margin: auto;
}

.right{
  width: 100%;
  height: 100%;
}

.input {
  text-align: left;
  font-size: 1.2rem;
  width: 11rem;
  margin: auto;
}

.input input {
  padding: .5rem;
  width: 6rem;
  margin-bottom: .2rem;
  border: 1px solid silver;
  font: inherit;
}

.input input:focus {
  background: lightyellow;
  // color: palegoldenrod;
}

.input input:hover {
  border: 1px solid black;
}

.input input[disabled], 
.input input[disabled]:hover {
  border: 1px solid #e3e3e3;
}

.input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.input input[type=number]::-webkit-inner-spin-button, 
.input input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.input label {
  display: inline;
}

.buttons {
  text-align: center;
}

button {
  margin: .2rem;
  border: none;
  padding: .5rem;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
}

button:hover {
  background: royalblue;
  color: white;
  cursor: pointer;
}

button.save:hover {
  background: green;
  color: white;
  cursor: pointer;
}

.browser{
  width: 100%;
  margin: auto;
  border: 1px solid silver;
}

.browser table{
  width: 100%;
  border-spacing: 0;
}

.browser table tr th,
.browser table tr td{
  padding : .2rem .4rem;
}

.browser table tbody tr.table-header{
  background-color: #eee;
}

.fade {
  opacity: .5;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade:hover {
  opacity: 1;
}

.browser table tbody tr:hover{
  background-color: royalblue;
  color: white;  
  cursor: pointer;
}

.browser table tbody tr.table-header:hover{
  background-color: #eee;
  color: black;
}

.browser table tbody tr th,
.browser table tbody tr td{
  width: 25%;
  // padding: .3rem .7rem;
}

.browser table tbody td.justifyRight{
  text-align: right;
}